{% load static %}

<style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }
</style>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img  src = "{% static 'images/book1.png' %}" width="80" height="70">
  <h1 style="color: rgb(86, 129, 129);">lucaHigh</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}"><h5>Dashboard</h5> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'books' %}"><h5>Books</h5> <span class="sr-only">(current)</span></a>
        </li>
   
        <li class="nav-item">
          <a class="nav-link" href="{% url 'staff' %}"><h5>Staff</h5></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'students' %}"><h5>Students</h5></a>
        </li>
     
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <h5>More actions</h5>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'add_publisher' %}">Add Publisher</a>
            <a class="dropdown-item" href="{% url 'add_author' %}">Add Author</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'create_order' %}">Create Book Order</a>
            <a class="dropdown-item" href="{% url 'book_order' %}">View Orders</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'contact' %}">Contact us</a>
          </div>
        </li>
      </ul>
    </div>

    {% if request.user.is_authenticated %}
    <span class="hello-msg">Hi, {{request.user}}</span>
    <span class="hello-msg"><a href="{% url 'logout' %}">Logout</a></span>
    {% else %}
    <span class="hello-msg"><a href="{% url 'login' %}">Login</a></span>
    <span class="hello-msg"><a href="{% url 'register' %}">Register</a></span>
    
    {% endif %}
  </nav>

