<br>
<div style = display:flex;>
    <div class = "row">
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp     
      <div class = "card-header">
        <h3 class = "card-title">Total Books Borrowed</h3>
            <hr>
           <div class ="card-body" style="color: blue;">
         <h3 class = "card-title">{{total_books_borrowed}}</h3>    
            </div>
       </div>
    </div>

    <div class = "row">
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp      
      <div class = "card-header">
         <h3 class = "card-title">Total Orders Made</h3>
            <hr>
           <div class ="card-body" style="color: blue">
          <h3 class = "card-title">{{total_orders}}</h3>    
            </div>
        </div>
    </div>
                
    <div class = "row">
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
       <div class = "card-header">
          <h3 class = "card-title">Orders delivered</h3>
            <hr>
           <div class ="card-body" style="color: blue">
          <h3 class = "card-title">{{delivered}}</h3>    
            </div>
        </div>
    </div>

    <div class = "row">
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      <div class = "card-header">
         <h3 class = "card-title">Orders pending</h3>
            <hr>
           <div class ="card-body" style="color: blue">
         <h3 class = "card-title">{{pending}}</h3>   
           </div>
      </div>
    </div>
</div>